
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);
*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}
* *{
	
	outline-offset: 5px;
	outline-color: deepskyblue;
	outline-width: 1px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	display: flex;
	flex-direction: column;
	background-color: var(--back-color);
	font-family: sans-serif;
}
.header{
	width: 100%;
	background-color: var(--header-color);
	box-shadow: 0 1px 10px var(--el-shadow-color) ;
}
.menu{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	
	column-gap: 10px;
	padding: 20px;
}
.menu .menu__item {
	margin: 0 auto;
	padding: 10px;
	transition: background-color 0.3s ease;
}

.menu .menu__item:hover {
	background-color: var(--header-hover);
}

.menu__link{
	color: var(--txt-color);
	cursor: pointer;
}

/* main */

main{
	margin: 50px 20px 50px 20px;
	
}
h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Fira Code', monospace;
	color: var(--txt-color);
}

