<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bc selector</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<nav class="nav">
		<ul class="header">
			<li class="header_item"><a class="header_link link">HOME</a></li>
			<li class="header_item"><a class="header_link link">PRICING</a></li>
			<li class="header_item"><a class="header_link link">BLOG</a></li>
			<li class="header_item"><a class="header_link link">READ OUR HISTORY</a></li>
			<li class="header_item"><a class="header_link link">CONTACT US</a></li>
		</ul>
	</nav>

	<div class="wrapper">
		<p>Lorem ipsum dolor sit <a class="link">amet</a> consectetur adipisicing elit. Dignissimos autem ipsa cum
			cupiditate delectus blanditiis
			dolores facilis, laborum impedit! Rem <a class="link">reprehenderit</a> molestiae sunt molestias excepturi quis
			<a class="link">maiores</a> sit vitae cum
			officiis! Asperiores ex iste officia magni commodi aliquid <a class="link">accusamus</a> minus excepturi?
			Dolore earum ut quam
			pariatur nobis, sit veritatis aspernatur! <br>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab
			deleniti sapiente dicta atque aliquam quas
			itaque ipsum placeat deleniti <a class="link">ipsam</a> culpa alias, eaque praesentium amet doloremque incidunt
			expedita
			consequatur rerum, eveniet aut in. Et quisquam deleniti repudiandae cupiditate totam eligendi in quis

		</p>
	</div>

	<script src="script.js"></script>
</body>

</html>