<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/iframe.css">
</head>
<body>
	<section class="subscribe">
		<div class="container">
			<div class="subscribe__content">
				<h2 class="subscribe__title">
					Subscribe
					To Our Newsletter
				</h2>
				<div class="subscribe-form">
					<input class="subscribe-form__input" type="email" placeholder="Yourmail@mail.com">
					<button class="subscribe-form__btn btn">Subscribe</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>